altair                                       
anyio                                        
argon2-cffi                                  
argon2-cffi-bindings                         
arrow                                        
asttokens                                    
async-lru                                    
attrs                                        
azure-core                                  
azure-identity                              
azure-kusto-data                             
azure-kusto-ingest                           
azure-storage-blob                          
azure-storage-queue                         
babel                                       
bayesian-optimization                        
beautifulsoup4                              
bleach                                       
blinker                                      
bzip2                                
ca-certificates                 
cachetools                                   
certifi                                     
cffi                                        
charset-normalizer                           
click                                        
cloudpickle                                  
colorama                                     
comm                                         
contourpy                                    
cryptography                                 
cycler                                      
debugpy                                      
decorator                                    
defusedxml                                   
et-xmlfile                                   
exceptiongroup                               
executing                                    
fastjsonschema                              
fonttools                                   
fqdn                                         
gitdb                                        
gitpython                                    
h11                                         
httpcore                                     
httpx                                       
idna                                           
ijson                                        
ipykernel                                   
ipython                                     
ipywidgets                                   
isodate                                      
isoduration                                 
jedi                                        
jinja2                                       
joblib                                       
json5                                        
jsonpointer                                    
jsonschema                                  
jsonschema-specifications                  
jupyter                                      
jupyter-client                               
jupyter-console                              
jupyter-core                                 
jupyter-events                              
jupyter-lsp                                  
jupyter-server                              
jupyter-server-terminals                     
jupyterlab                                   
jupyterlab-pygments                          
jupyterlab-server                           
jupyterlab-widgets                           
kiwisolver                                   
libffi                               
lightgbm                                     
llvmlite                                    
markdown-it-py                               
markupsafe                                   
matplotlib                                   
matplotlib-inline                            
mdurl                                        
mistune                                      
msal                                        
msal-extensions                              
nbclient                                    
nbconvert                                   
nbformat                                    
nest-asyncio                                 
notebook                                     
notebook-shim                                
numba                                       
numpy                                       
openpyxl                                     
openssl                              
overrides                                    
packaging                                      
pandas                                       
pandocfilters                                
parso                                        
patsy                                        
pillow                                       
pip                             
platformdirs                                 
plotly                                      
portalocker                                 
prometheus-client                           
prompt-toolkit                               
protobuf                                    
psutil                                       
pure-eval                                    
pyarrow                                      
pycparser                                      
pydeck                                       
pygments                                    
pyjwt                                        
pyparsing                                    
python                            
python-dateutil                        
python-graphviz                             
python-json-logger                           
pytz                                       
pywin32                                            
pywinpty                                     
pyxlsb                                       
pyyaml                                       
pyzmq                                        
qtconsole                                    
qtpy                                         
referencing                                 
requests                                    
rfc3339-validator                            
rfc3986-validator                            
rich                                         
rpds-py                                     
scikit-learn                                 
scipy                                       
seaborn                                     
send2trash                                   
setuptools                     
shap                                        
six                                         
slicer                                       
smmap                                        
sniffio                                      
soupsieve                                      
sqlite                              
stack-data                                   
statsmodels                                 
streamlit                                   
tenacity                                     
terminado                                   
threadpoolctl                                
tinycss2                                     
tk                                  
toml                                 
tomli                                 
toolz                                
tornado                                 
tqdm                                 
traitlets                            
types-python-dateutil        
typing-extensions                    
tzdata                               
uri-template                          
urllib3                               
vc                                   
vs2015_runtime                    
watchdog                              
wcwidth                               
webcolors                               
webencodings                          
websocket-client                      
wheel                         
widgetsnbextension                    
xgboost                               
xz                                   
zlib                    
